
.mainScreen_Bg{
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
    width: 100vw;
    height: 100vh;
}

.tea{
    /* background-image: url("../../public/images/item.png"); */
    /* background-color: aliceblue; */
   }
   .itemImage{
    width: 15rem;
    /* background-color: bisque; */
   }
   .borderRound{
    border-radius: 53% 47% 64% 36% / 36% 28% 72% 64% ;
    background-color: black;
    color: aliceblue;
    
    width:  2rem;
    height: 2rem;
    padding: 100 100 50 10 !important;
    margin: auto;
    filter: drop-shadow(0rem 0rem 1rem red);


   }
   .logo_card{
    /* position: absolute; */
    /* top: 15rem;
    left: 7.5rem; */
    margin-top: 2rem;
    margin-bottom: -7.5rem;
    margin-left: 7rem;
    border: aquamarine;
   }
   .logo_item_card{
    /* position: absolute;
    top: 9.5rem;
    left: 3rem; */
    margin-top: -3rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content:flex-start;
    /* align-items: center; */
    border: none;
   }
   .logo_item_card2{
    position: absolute;
    top: 21.5rem;
    left: 7.5rem;
    border: none;

   }
   .logo_item_card3{
    position: absolute;
    top: 21.5rem;
    left: 11rem;
    border: none;

   }
   .glow-on-hover {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    outline: none;
    color: #fff !important;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius:100%;
  }
  
  .glow-on-hover:before {
    content: 'jskj';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius:100%;
  }
  
  .glow-on-hover:active {
    color: #000
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius:100%;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
 
  .circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    /* background-color: hsl(4, 98%, 60%); */
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn TableRowsRoundedIcon {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    /* background-color: hsl(4, 98%, 60%); */
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }
  
  /**
   * The other theme for this menu
   */
  
  .circular-menu.circular-menu-left {
    right: auto; 
    left: 1em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
    /* background-color: hsl(217, 89%, 61%); */
  }
  
  .circular-menu.circular-menu-left:after {
    /* background-color: hsl(217, 89%, 61%); */
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }